.add__close{
}

@media screen and (max-width: 767px) {
    .add__close {
        background: transparent url('../../../images/closeButtonSmall.svg');
        width: 20px;
        height: 20px;
        right: -3px;
        top: -25px;
    }
}