.popup__divider {
    opacity: 0.2;
    border: 1px solid #000000;
    margin-left: 36px;
    margin-right: 36px;
}

@media screen and (max-width: 767px) {
    .popup__divider {
        margin-left: 22px;
    }
}