.popup__button {
    position: relative;
    width: 358px;
    height: 50px;
    top: 0;
    bottom: 0;
    background: #000000;
    border-radius: 2px;
    color: white;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin: 48px 0 37px 36px;
    border-style: none;
    padding-bottom: 0;
}

.popup__button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .popup__button {
        width: 238px;
        height: 46px;
        margin-left: 22px;
    }
}