.popup__close {
    position: relative;
    width: 32px;
    height: 32px;
    background: transparent url('../../../images/closeIcon.svg');
    border: none;
    padding: 0;
    top: -317px;
    right : -428px;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__close {
        background: transparent url('../../../images/closeButtonSmall.svg');
        width: 20px;
        height: 20px;
        right: -260px;
        top: -335px;
    }
}
