.popup__close {
    position: relative;
    width: 32px;
    height: 32px;
    left: 430px;
    top: -30px;
    background: transparent url('../../../images/closeIcon.svg');
    border: none;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__close {
        background: transparent url('../../../images/closeButtonSmall.svg');
        width: 20px;
        height: 20px;
        left: 260px;
        top: -25px;
    }
}
