.gallery__title{
    font-weight: 900;
    color: #000000;
    font-size: 24px;
    line-height: 29.05px;
    margin: 25px auto 31px 21px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}