.gallery__title {
    font-weight: 900;
    color: #000000;
    font-size: 24px;
    line-height: 29.05px;
    margin-top: 25px;
    padding-bottom: 31px;
    margin-left: 21px;
    margin-bottom: 0;
    max-width: 200px;
    justify-content: space-between;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}