.gallery__likebutton {
    width: 22px;
    height: 19px;
    display: block;
    background: url("../../../images/heart.svg") no-repeat top center;
    padding: 0;
    border: none;
    margin-top: 5px;
    margin-right: 20px;
}

.gallery__likebutton:hover {
    opacity: 0.5;
}