.profile__editbutton {
    margin-left: 18px;
    margin-top: 77px;
    height: 24px;
}

.profile__editbutton:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .profile__editbutton {
        height: 18px;
        margin: 0 0 0 10px;
    }
}
